absl-py==0.10.0
alembic==1.4.2
astor==0.8.1
async-generator==1.10
attrs==19.3.0
backcall
bleach
blinker==1.4
bokeh
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
certipy==0.1.3
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle
coremltools==3.3
cryptography
cycler==0.10.0
cytoolz==0.10.1
dask
decorator==4.4.2
defusedxml==0.6.0
dill
distributed
entrypoints==0.3
fsspec
gast==0.2.2
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
idna
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi
Jinja2==2.11.2
json5
jsonschema==3.2.0
jupyter-client
jupyter-core==4.6.3
jupyter-offlinenotebook==0.1.0
jupyter-telemetry==0.0.5
jupyterhub==1.1.0
jupyterlab==2.2.0
jupyterlab-server
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
llvmlite==0.33.0
locket==0.2.0
Mako==1.1.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib
mistune==0.8.4
msgpack==1.0.0
nbconvert==5.6.1
nbformat
nbresuse==0.3.3
notebook
nteract-on-jupyter==2.1.3
numba==0.50.1
numpy
oauthlib==3.0.1
olefile==0.46
opt-einsum==3.3.0
packaging
pamela==1.0.0
pandas
pandocfilters==1.4.2
parso
partd==1.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow
prettytable==0.7.2
prometheus-client
prompt-toolkit
protobuf==3.13.0
psutil
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
pycurl==7.43.0.5
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger==0.1.11
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
requests
requests-oauthlib==1.3.0
resampy==0.2.1
rsa==4.6
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.2.0
scipy==1.5.2
Send2Trash==1.5.0
six
sortedcontainers
SQLAlchemy
tblib==1.6.0
tensorboard==2.0.2
tensorflow==2.0.2
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
turicreate==6.4
typing-extensions
urllib3
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension
wrapt==1.12.1
zict==2.0.0
zipp==3.1.0
